{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "transform-react-inline-elements",
    "transform-react-remove-prop-types",
  ]
}
