{
  "extends": "airbnb",
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  },
  "rules": {
    "no-console": ["error", { allow: ["warn", "error"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "react"
  ]
}
