{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "BASE_PATH": "readable",
    "GA_ID": "readable",
    "NODE_ENV": "readable"
  },
  "rules": {
    "no-console": ["error", { allow: ["warn", "error", "info"] }],
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "react/jsx-wrap-multilines": [1, {"declaration": true, "assignment": true, "return": true}],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
          }],
  },
  "plugins": [
    "mocha",
    "react"
  ]
}
