div.image-container {
    margin: 0 auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
  
img {width: 100%}
  
// div.caption {
//     text-align: center;
//     margin: 0 auto;
//     padding: 10px 20px;
// }