// Contact page (/contact)

#contact {
  .email-at {
    margin: 3em 0;

    p {
      margin: 0;
    }

    .inline-container {
      width: 100%;

      &:focus {
        outline: 2px solid #0066cc;
        outline-offset: 2px;
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }

      .invalid-email {
        cursor: default;
        opacity: 0.7;
      }

      span:focus {
        display: inline-block;
        outline: 2px solid #0066cc;
        outline-offset: 2px;
        border: 0;
        text-align: right;
      }
    }
  }
}

.inline {
  min-width: 150px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 15;
  border: 0;
  text-align: right;

  &:focus {
    outline: 2px solid #0066cc;
    outline-offset: 2px;
  }
}
