doctype html
html.no-js(lang='en-us')
  meta(http-equiv='content-type', content='text/html;charset=utf-8')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1.0')
    title Michael D'Angelo
    meta(name='description', content="Michael D'Angelo -- Personal Website.")
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='stylesheet', href='css/main.css')
    link(rel='canonical', href='index.html')
    script(src='js/modernizr.js')
  body#top
    header#header
      .unselectable
        h1 MICHAEL D'ANGELO
      h2
        a(href='mailto:michael.l.dangelo@gmail.com') michael.l.dangelo@gmail.com
    footer#footer
      header
        h3 About Me
      p
        | Hi, I'm Michael. I like building things. I am a 
        a(href='https://icme.stanford.edu/') Stanford ICME
        |  graduate and the CTO of 
        a(href='http://thematroid.com') Matroid
        | . Before Matroid I was at 
        a(href='http://arthena.com') Arthena
        | , 
        a(href='http://planet.com') Planet Labs
        | ,
        a(href='http://planetaryresources.com') Planetary Resources
        | ,
        a(href='http://facebook.com') Facebook
        | , and 
        a(href='http://seds.org') SEDS
        | .
    #main
      section#about
        ul.list-inline
          li#we-do
            header
              h3 What I Do
            p
              | Product Management
              br
              |  Data Science
              br
              |  Machine Learning
              br
              |  Full Stack Web Development
              br
              |  Space Systems
              br
              |  Hardware Design
              br
          li#our-exp
            header
              h3 What I Enjoy
            p
              | Space
              br
              |  Skiing
              br
              |  Photography
              br
              |  Travel
              br
              |  Sunsets
              br
              |  French Cheeses
      section#contact-me
        div
          header
            h3 Contact Me
          p
            a(href='mailto:michael.l.dangelo@gmail.com') Email
            br
            a(href='https://facebook.com/d') Facebook
            br
            a(href='https://www.linkedin.com/in/michaelldangelo') LinkedIn
            br
            a(href='https://www.instagram.com/dangelosaurus') Instagram
            br
            a(href='https://angel.co/michael-d-angelo') Angel List
    script(src='js/jquery.min.js')
    script(src='js/main.js')
    script.
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-68649021-1', 'auto');
      ga('send', 'pageview');
