doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Personal Website')
    meta(name='author', content='michael.l.dangelo@gmail.com')
    title Michael D'Angelo
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/grayscale.css', rel='stylesheet')
    link(href='font-awesome-4.2.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    block head

  body
    block content

  footer
    nav.navbar.navbar-default.navbar-static-bottom(role='navigation')
      .container
        a(href='http://facebook.com/d') facebook.com/d
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.easing.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
    script(src='js/grayscale.js')
