.side-nav {
    z-index: 10 !important;
    background: $white;
    opacity: .2; // for testing

    width: $nav-width;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    padding: 2.85em 2.6em;
    margin-top: 0;

    text-align: left;

    -webkit-box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);
    box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);

    h1, h2, h3, p {
        position: relative;
    }

    h3 {
      margin-bottom: 1em;
    }
}

.main {
  margin-left: $nav-width;
  padding-left: -$nav-width;
  // max-width: calc(100% - #{$nav-width});
  max-width: 100vw;
  margin-right: 0;
  background-color: #009A00
}
/*
.footer {
    bottom: 0;
    left: 0;
    padding: 0 2.6em;
    margin-bottom: 1em;
    // height: 15.65em;
    position: fixed;
    text-align: left;
    width: 25em;
    min-width: 16.52em;
    z-index: 1;
}
*/
.stats {
    // padding-top: 2em;
    // background: $portrait_background_color;
    // width: 100%;
}
.about {
    ul {
        > li {
            margin-right: 4.3em;
            vertical-align: top;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.projects {
    background-color: $white;
    padding: 3.57em 5.8em;
    p {
        color: $color_asphalt_approx;
    }
    h3 {
        color: $color_asphalt_approx;
    }
}

.contact {
    background-color: $color_delta_approx;
    padding: 3.57em 5.8em;
    p {
        color: $white;
    }
    ul {
        margin-top: 3.9em;
        text-align: center;
        > li {
            width: 25%;
            margin-right: 1.4em;
            padding: 0;
            text-align: left;
            &:first-child {
                margin-right: 0.4em;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    header > h3 {
        color: $white;
    }
}
