#root {
    height: 100%;
    // margin-left: 25em;
    // width: calc(100% - 25em);
    background: $white;
}

.main {
  width: calc(100% - #{$nav-width});
  position: fixed;
  right: 0;
}

.header {
    height: 100%;
    left: 0;
    padding: 2.85em 2.6em;
    margin-top: 0em;
    position: fixed;
    text-align: left;
    top: 0;
    width: $nav-width;
    // min-width: 22.52em;
    // border-right: 2px solid $black;
    -webkit-box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);
    box-shadow: -5px 0px 20px 10px rgba(0,0,0,0.25);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        position: relative;
    };
    background: $white;
    z-index: 1;
}
.footer {
    bottom: 0;
    left: 0;
    padding: 0 2.6em;
    margin-bottom: 1em;
    // height: 15.65em;
    position: fixed;
    text-align: left;
    width: 25em;
    min-width: 16.52em;
    z-index: 1;
}

.side-nav {
  z-index: 1000 !important;
}

.stats {
    padding-top: 2em;
    background: $portrait_background_color;
    width: 100%;
}
.about {
    // height: 100%;
    // margin-bottom: 4.5em;
    ul {
        // position: absolute;
        // bottom: 0;
        // height: 15.65em;
        > li {
            margin-right: 4.3em;
            vertical-align: top;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.projects {
    background-color: $white;
    padding: 3.57em 5.8em;
    p {
        color: $color_asphalt_approx;
    }
    h3 {
        color: $color_asphalt_approx;
    }
}

.contact {
    background-color: $color_delta_approx;
    padding: 3.57em 5.8em;
    p {
        color: $white;
    }
    ul {
        margin-top: 3.9em;
        text-align: center;
        > li {
            width: 25%;
            margin-right: 1.4em;
            padding: 0;
            text-align: left;
            &:first-child {
                margin-right: 0.4em;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    header > h3 {
        color: $white;
    }
}
