//@extend-elements
//original selectors
//body, input, select, textarea
%extend_1 {
    color: $color_asphalt_approx;
    font-size: 16pt;
    line-height: 1.75em;
}
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_2 {
    color: $color_asphalt_approx;
    font-weight: 600;
    line-height: 1em;
    margin: 0 0 1em;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
    font-family: $font_0, $font_1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}
html, body, div {
    line-height: 1;
    background: $color_alabaster_approx;
    font-family: $font_0, $font_1;
    width: 100%;
    @extend %extend_1;
    height: 100%;
}
ol {
    list-style: none;
}
ul {
    list-style: none;
}
blockquote {
    quotes: none;
    &:before {
        content: none;
    }
    &:after {
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, textarea {
    @extend %extend_1;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $black;
}
strong {
    font-weight: 400;
    font-size: 0.95em;
}
b {
    font-weight: 400;
    font-size: 0.95em;
}
p {
    font-size: 0.7em;
    line-height: 1.8em;
    color: $color_mountain_mist_approx;
}
h1 {
    @extend %extend_2;
    font-family: $font_0, $font_1;
    font-weight: bold;
    font-size: 2.85em;
    margin-bottom: 0.5em;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h2 {
    @extend %extend_2;
    font-family: $font_0, $font_1;
    font-weight: normal;
    font-size: 1.14em;
    line-height: 1.2em;
    margin-bottom: 0;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h3 {
    @extend %extend_2;
    font-size: 1em;
    margin-bottom: 1.9em;
    font-weight: 400;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h4, h5, h6 {
    @extend %extend_2;
    a {
        color: inherit;
        text-decoration: none;
    }
}
small {
    font-size: 0.56em;
    line-height: 1.7em;
    color: $color_dove_gray_approx;
}
