@import url(bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat', sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #FBFBFB;
  font-family: 'Montserrat', sans-serif;
}
body, html {
  width: 100%;
}
body, input, select, textarea {
  color: #140F0A;
  font-size: 16pt;
  line-height: 1.75em;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
strong, b {
  font-weight: 400;
  font-size: .95em;
}
p {
  font-size: 0.7em;
  line-height: 1.8em;
  color: #959699;
}
h1, h2, h3, h4, h5, h6 {
  color: #140F0A;
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 1em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.85em;
  margin-bottom: .5em;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.14em;
  line-height: 1.2em;
  margin-bottom: 0;
}
h3 {
  font-size: 1em;
  margin-bottom: 1.9em;
  font-weight: 400;
}
small {
  font-size: 0.56em;
  line-height: 1.7em;
  color: #6C6C6C;
}

/* Header (Left part) */

html, body, #main {
  height: 100%;
}
#header {
  height: 100%;
  left: 0;
  padding: 2.85em 2.6em;
  position: fixed;
  text-align: left;
  top: 0;
  width: 25em;
  min-width: 22.52em;
  border-right: 1px solid #A2A2A2;
}
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p {
  position: relative;
}

/* Footer */

#footer {
  bottom: 0;
  left: 0;
  padding: 0 2.6em;
  height: 15.65em;
  position: fixed;
  text-align: left;
  width: 25em;
  min-width: 22.52em;
}

/* Main part */

#main {
  margin-left: 25em;
  width: calc(100% - 25em);
  background: white;
}

/* About section */

#about {
  height: 100%;
  margin-bottom: 4.5em;
}
#about ul {
  position: absolute;
  bottom: 0;
  height: 15.65em;
}
#about ul > li {
  margin-right: 4.3em;
  vertical-align: top;
}
#about ul > li:last-child {
  margin-right: 0;
}

/* Contact Section */

#contact-me {
  background-color: #A2A2A2;
  padding: 3.57em 5.8em;
}
#contact-me header > h3, #contact-me p {
  color: #FFFFFF;
}
#contact-me ul {
  margin-top: 3.9em;
  text-align: center;
}
#contact-me ul > li {
  width: 25%;
  margin-right: 1.4em;
  padding: 0;
  text-align: left;
}
#contact-me ul > li:first-child {
  margin-right: .4em;
}
#contact-me ul > li:last-child {
  margin-right: 0;
}
#contact-me .svi-map-img {
  width: 100%;
  max-width: 9em;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll Arrows */


/* Uncomment to get "Scroll to top" functionality
.scroll-top { @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1)); position: fixed; right: 0; width: 50px; height: 40px; line-height: 40px; text-align: center; font-size: 48px; z-index: 5;
 a { display: block; width: 100%; height: 100%; color: $torch-red; text-decoration: none; outline: none; border: none; padding-top: 10px;
 &:hover { color: darken($torch-red, 10%); } }
 &:hover { margin-bottom: 10px; }
 .arrows-bottom { @include rotate(225deg); margin: 0 0 3px 4px; }
}

.arrows-bottom { display: block; @include rotate(45deg); border-right: 2px solid $torch-red; border-bottom: 2px solid $torch-red; margin: 0 0 3px 4px; width: 16px; height: 16px;
}
*/


/* Media Queries */


/* 1080p devices */

@media only screen and (min-width: 1920px) {
  body, input, select, textarea {
    font-size: 18pt;
  }
}

/* WQHD devices */

@media only screen and (min-width: 2560px) {
  body, input, select, textarea {
    font-size: 24pt;
    line-height: 1.95em;
  }
}

/* 4k devices */

@media only screen and (min-width: 3840px) {
  body, input, select, textarea {
    font-size: 34pt;
    line-height: 2.2em;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1440px) {
  #about, #contact-us {
    padding: 0 5.8em;
  }
}

/* Notebook devices */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  #header {
    width: 22.52em;
  }
  #main {
    width: calc(100% - 22.52em);
    margin-left: 22.52em;
  }
  #footer {
    width: 22.52em;
  }
  #about {
    padding: 0 2.85em;
  }
  #about ul > li {
    margin-right: 2.85em;
  }
  #contact-me {
    padding: 3.57em 2.85em;
  }
}

/* Medium Devices */

@media only screen and (max-width: 1023px) {
  #header {
    width: 50%;
    max-width: 100%;
    min-width: 0;
  }
  #main {
    width: 50%;
    margin-left: 50%;
  }
  #header h2 {
    font-size: 1.00em;
  }
  #footer {
    width: 50%;
    max-width: 100%;
    min-width: 0;
  }
  #about {
    margin-bottom: 24em;
  }
  #about ul > li {
    height: 18.6em;
    margin-right: 0;
    display: block;
  }
  #about {
    padding: 0 2.85em;
  }
  #contact-me {
    padding: 3.57em 2.85em;
  }
  #contact-me ul > li {
    width: 30%;
    margin: 0;
  }
  #contact-me ul > li:first-child {
    margin: 0;
  }
  #contact-me ul > li:last-child {
    margin-left: .5em;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
  #header {
    left: auto;
    position: relative;
    text-align: left;
    top: auto;
    width: 100%;
    max-width: 100%;
    padding: 2em 2em 0 2em;
    border-right: none;
  }
  #header h1 {
    font-size: 2.85em;
  }
  #header h1 br {
    display: inline;
  }
  #header h2 {
    position: absolute;
    bottom: 0;
    height: 6.82em;
    padding-right: 2em;
  }
  #header h2:after {
    content: "Scroll down";
    display: block;
    margin-top: 2.5em;
    font-size: .4em;
    color: #959699;
  }
  #footer {
    bottom: auto;
    left: auto;
    position: relative;
    height: auto;
    padding: 2em 2em 0 2em;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
  #main {
    margin: 0;
    padding: 2.85em 0;
    width: 100%;
  }
  #about {
    position: relative;
    height: auto;
    padding: 0 2em;
    margin-bottom: 2.85em;
  }
  #about ul {
    position: inherit;
    height: auto;
  }
  #about ul > li {
    width: 45%;
    vertical-align: top;
    display: inline-block;
    margin-right: 1em;
    height: auto;
  }
  #about ul > li:last-child {
    margin-right: 0;
  }
  #contact-me {
    padding: 2em;
  }
}

/* Phones */

@media only screen and (max-width: 480px) {
  #main {
    padding: 4em 0;
  }
  #main > #contact-me {
    padding: 2em;
  }
}

/* Extra Small Phones */

@media only screen and (max-width: 320px) {
  #header h2 {
    height: 7.82em;
  }
  #about ul > li {
    margin-right: .5em;
  }
}
@media only screen and (max-height: 600px) {
  h1 {
    font-size: 2.00em
  }
}
