// Note -- this is only a temporary file.
// Some form of these media queries will be reincorporated soon
@media only screen and(min-width: 1920px) {
    body {
        font-size: 18pt;
    }
    input {
        font-size: 18pt;
    }
    select {
        font-size: 18pt;
    }
    textarea {
        font-size: 18pt;
    }
}
@media only screen and(min-width: 2560px) {
    body {
        font-size: 24pt;
        line-height: 1.95em;
    }
    input {
        font-size: 24pt;
        line-height: 1.95em;
    }
    select {
        font-size: 24pt;
        line-height: 1.95em;
    }
    textarea {
        font-size: 24pt;
        line-height: 1.95em;
    }
}
@media only screen and(min-width: 3840px) {
    body {
        font-size: 34pt;
        line-height: 2.2em;
    }
    input {
        font-size: 34pt;
        line-height: 2.2em;
    }
    select {
        font-size: 34pt;
        line-height: 2.2em;
    }
    textarea {
        font-size: 34pt;
        line-height: 2.2em;
    }
}
@media only screen and(min-width: 1440px) {
    #about {
        padding: 0 5.8em;
    }
    #contact-us {
        padding: 0 5.8em;
    }
}
@media only screen and(min-width: 1024px) and(max-width: 1439px) {
    #header {
        width: 22.52em;
    }
    #main {
        width: calc(100% - 22.52em);
        margin-left: 22.52em;
    }
    #footer {
        width: 22.52em;
    }
    #about {
        padding: 0 2.85em;
        ul > li {
            margin-right: 2.85em;
        }
    }
    #contact-me {
        padding: 3.57em 2.85em;
    }
}
@media only screen and(max-width: 1023px) {
    #header {
        width: 50%;
        max-width: 100%;
        min-width: 0;
        h2 {
            font-size: 1.00em;
        }
    }
    #main {
        width: 50%;
        margin-left: 50%;
    }
    #footer {
        width: 50%;
        max-width: 100%;
        min-width: 0;
    }
    #about {
        margin-bottom: 24em;
        padding: 0 2.85em;
        ul > li {
            height: 18.6em;
            margin-right: 0;
            display: block;
        }
    }
    #contact-me {
        padding: 3.57em 2.85em;
        ul > li {
            width: 30%;
            margin: 0;
            &:first-child {
                margin: 0;
            }
            &:last-child {
                margin-left: 0.5em;
            }
        }
    }
}
@media only screen and(max-width: 767px) {
    #header {
        left: auto;
        position: relative;
        text-align: left;
        top: auto;
        width: 100%;
        max-width: 100%;
        padding: 2em 2em 0;
        border-right: none;
        h1 {
            font-size: 2.85em;
            br {
                display: inline;
            }
        }
        h2 {
            position: absolute;
            bottom: 0;
            height: 6.82em;
            padding-right: 2em;
            &:after {
                content: "Scroll down";
                display: block;
                margin-top: 2.5em;
                font-size: 0.4em;
                color: $color_mountain_mist_approx;
            }
        }
    }
    #footer {
        bottom: auto;
        left: auto;
        position: relative;
        height: auto;
        padding: 2em 2em 0;
        text-align: left;
        width: 100%;
        max-width: 100%;
    }
    #main {
        margin: 0;
        padding: 2.85em 0;
        width: 100%;
    }
    #about {
        position: relative;
        height: auto;
        padding: 0 2em;
        margin-bottom: 2.85em;
        ul {
            position: inherit;
            height: auto;
            > li {
                width: 45%;
                vertical-align: top;
                display: inline-block;
                margin-right: 1em;
                height: auto;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    #contact-me {
        padding: 2em;
    }
}
@media only screen and(max-width: 480px) {
    #main {
        padding: 4em 0;
        > #contact-me {
            padding: 2em;
        }
    }
}
@media only screen and(max-width: 320px) {
    #header h2 {
        height: 7.82em;
    }
    #about ul > li {
        margin-right: 0.5em;
    }
}
@media only screen and(max-height: 600px) {
    h1 {
        font-size: 2.00em;
    }
}
