//colors
$color_mountain_mist_approx: #959699;
$color_alabaster_approx: #fbfbfb;
$color_asphalt_approx: #140f0a;
$black: #000000;
$color_dove_gray_approx: #6c6c6c;
$color_delta_approx: #a2a2a2;
$white: white;
$portrait_background_color: #e5e4e2;

//fonts
$font_0: Montserrat;
$font_1: sans-serif;

//== Media queries breakpoints - These have been copied from bootstrap
$screen-xs-min: 480px !default; // Extra small screen / phone
$screen-sm-min: 768px !default; // Small screen / tablet
$screen-md-min: 992px !default; // Medium screen / desktop
$screen-lg-min: 1200px !default; // Large screen / wide desktop

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
