div.image-container {
    margin: auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
img {margin: auto;
    width: 50%;}
  
div.caption {
    text-align: center;
    padding: 10px 20px;
}