
.icon-cancel-circled-outline:before { content: '\e800'; } /* '' */
.icon-cancel-circled-1:before { content: '\e801'; } /* '' */
.icon-cancel-1:before { content: '\e802'; } /* '' */
.icon-cancel-circle:before { content: '\e803'; } /* '' */
.icon-cancel-2:before { content: '\e804'; } /* '' */
.icon-cancel-circle-1:before { content: '\e805'; } /* '' */
.icon-cancel-3:before { content: '\e806'; } /* '' */
.icon-cancel-4:before { content: '\e807'; } /* '' */
.icon-cancel-circled-3:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-cancel-5:before { content: '\e80a'; } /* '' */
.icon-cancel-circled-4:before { content: '\e80b'; } /* '' */
.icon-times:before { content: '\f042'; } /* '' */
.icon-cancel-circled:before { content: '\f043'; } /* '' */
.icon-cancel-circled-2:before { content: '\f06e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-cancel:before { content: '\f402'; } /* '' */