// About page (/about)

#login {
  width: 50%;
  margin: auto;
  height: 20em;

  p {
    font-size: 0.9em;
  }

  .horiztonal-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    .auth-label {
      flex: 0;
      white-space: nowrap;
      padding: .1em 0;
    }

    .auth-button {
      padding: 0 1em;
      flex: 1;
    }
  }

}
