// About page (/about)

#login {
  width: 50%;
  margin: auto;
  height: 15em;

  p {
    font-size: 0.9em;
  }

  .horiztonal-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5em;

    .auth-label {
      flex: 0;
      white-space: nowrap;
      padding: .1em 0;
    }

    .auth-button {
      padding: 0 1em;
      flex: 1;
    }
  }

}

@media (max-width: 1200px) {
  #login {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  #login {
    width: 80%;
  }
}
@media (max-width: 800px) {
  #login {
    width: 100%;
    margin: auto;
  }
}
