// Services page (/services)

#services {

    p {
      margin: auto;
    }

    h1 {
        font-size: xx-large;
      }

      h2 {
        font-size: x-large;
      }
      
      h3 {
        font-size: large;
      }
  }
  