/* Resume */

#resume {
	.education {
		.title {
			text-align: center;
			margin-bottom: 2em;
		}
	}
	.experience {
		.title {
			text-align: center;
		}
		.job {
			margin: 1em;
			p{
				margin: 0;
			}
		}
	}
	.courses {
		padding-top: 1.6em;
		.title {
			text-align: center;
		}
		.course-list {
			text-align: center;
			
			h4 {
				white-space: nowrap;
			}
		}
	}
	.skills {
		margin-top: 2em;
		.title {
			text-align: center;
		}
	}
	.references {
		margin: 2em 0;
		.title {
			text-align: center;
		}
	}
}

.daterange {
	margin-bottom: .2em;
}

.degree {
	margin-bottom: .1em;
	text-transform: none;
}

.school {
	text-transform: none;
	//letter-spacing: 0.5em;
}

.courses .course-number {
	display: inline;
}
.courses .course-name {
	display: inline;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

.courses ul li{
  display: inline;
}

.course-dot {
	display: inline;
	// display: none;
}

@include breakpoint(small) {
	.course-dot {
		display: none;
	}
	.course-container a{
		display: block;
	}
}
