/* Resume */

#resume {
	.education {
		.title {
			text-align: center;
		}
	}
	.experience {
		.title {
			text-align: center;
		}
		.job {
			margin: 1em;
			p{
				margin: 0;
			}
		}
	}
}

.daterange {
	margin-bottom: .2em;
}

.degree {
	margin-bottom: .1em;
	text-transform: none;
}

.school {
	text-transform: none;
}
